@import "styles/variables.scss";

.title-app {
  margin: 15px 0;
}

.buttons-container {
  text-align: right;

  .ui-button {
    border: 0;
    border-radius: 5px;
    background-color: $secondary;
    color: white;
    margin-left: 10px;
    padding: 5px 5px;
  }
}

.ui-table {
  .ui-table-thead {
    tr {
      color: white;
      background-color: $primary;
    }
  }
}

.circle {
  text-align: center;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
.blue {
  background-color: $blueStatus;
}
.green {
  background-color: $greenStatus;
}
.red {
  background-color: $redStatus;
}
