<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2 class="title-app">
    {{ title }}
  </h2>

  <p-table [value]="users" *ngIf="users">
    <ng-template pTemplate="header" class="header">
        <tr>
            <th>Usuario</th>
            <th>Tipo Usuario</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.nameUser}}</td>
            <td>{{user.typeUser}}</td>
            <td>{{user.name}}</td>
            <td>{{user.date}}</td>
            <td>{{user.status}}</td>
            <div [ngSwitch]="user.status">
              <td *ngSwitchCase="'prealta'"><span class="circle blue"></span></td>
              <td *ngSwitchCase="'alta'"><span class="circle green"></span></td>
              <td *ngSwitchCase="'baja'"><span class="circle red"></span></td>
            </div>
        </tr>
    </ng-template>
</p-table>

<div class="buttons-container">
  <p-button label="Alta Usuario" styleClass=""></p-button>
  <p-button label="Invitar Usuario" styleClass=""></p-button>
</div>


<p *ngIf="!users">
  No hay ningún coche
</p>
</div>



